@import "../../mixins";

.container {
    background: #f0f0f0;
}

@include pc-only() {
    .img {
        width: 70%;
        height: max-content;
    }
}

@include tab() {
    .img {
        width: 70%;
        height: max-content;
    }
}

.video {
    max-width: 50%;
    height: auto;
}

.containerCircularProgress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 30%;

    @include pc-only() {

        width: 20%;


    }


}