@import "../../../mixins";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.backEme {
    color: #1eacde;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-decoration: underline;
    text-transform: capitalize;

    @include mob-large() {
        top: -60px;
        right: -16px;
        font-size: 15px;
    }
}
