@font-face {
    font-family: 'Open Sans' !important;
    src: url('./OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-SemiBold.ttf');
    font-weight: 500;
}